* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
body {
  background: #fff url(../img/JaOS3qw.webp);
  background-attachment: fixed;
  background-blend-mode: hard-light;
}
.container {
  position: absolute;
  top: 80px;
  left: 100px;
  right: 100px;
  bottom: 80px;
  background: url(../img/JaOS3qw.webp);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5), 0 0 0 100px rgba(0, 0, 0, 0.1);
}
.container h1 {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-top: -80px;
}
.container h2 span {
  display: white;
  font-weight: 300;
  letter-spacing: 6px;
  font-size: 0.2em;
}
.countdown {
  display: flex;
  margin-top: 50px;
}
.countdown div {
  position: relative;
  width: 200px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #333;
  color: #fff;
  margin: 0 15px;
  font-size: 3em;
  font-weight: 500;
}
.countdown div:before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  opacity: 0.5;
  color: #333;
  font-style: 0.35em;
  line-height: 35px;
  font-weight: 300;
}
.countdown #day:before {
  content: "Days";
}
.countdown #hour:before {
  content: "Hours";
}
.countdown #minute:before {
  content: "Minute";
}
.countdown #second:before {
  content: "Second";
}
